/* common shared */
body{
    font-family: 'Open Sans', sans-serif;
}

.primary{
    color: antiquewhite;
  }
 .butt-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 10px 10px;
 } 
 .section-tittle {
    color:  #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
 }
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.nav-title{
    font-size: 50px;
    font-weight: 800;
    color: black;
    padding-left: 10px;
}

nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(239, 231, 231)
}
/* header section */

.header {
   background-color: lightpink;
   background-image: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b-content {
    max-width: 500px;
}
.banner .project-img {
    width: 284px;
    height: 376px;
} 
.banner-grading{
   font-size: 45px;
   color: #474747;
   margin-bottom: 0px;
   text-decoration: none;
}
.main-banner{
     font-size: 83px;
     font-weight: 500;
     margin-top: 5px;
     margin-bottom: 20px;
     text-decoration: none;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    
}
.about-info-container {
    display: flex;
    justify-content: space-between;
}
.about-info {
    text-align: center;
}
